<!-- Inclui head -->
<%- include("partials/head.ejs") %>

<body>

    <!-- Inclui navbar-->
    <%- include("partials/navbar.ejs") %>
       
    <!-- Inclui seção superior da página-->
    <%- include("partials/background-home.ejs") %>

</body>

<!-- Inclui footer -->
<%- include("partials/footer.ejs") %>
