body{
    background-color: #eceff1;
}
button{
    margin-top: 5vh;
}
.bg{
    display: flex;
    vertical-align: center;
	justify-content: center;
    flex-direction: column;
	align-items: center;
    text-align: center;
    margin-top: 10vh;
}
#logo{
    width: 5vw;
}
.card{
    margin-top: 5vh;;
}
.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
